* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('../img/Logo SUNEDU.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100%; 
}

.container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1, h2 {
    font-size: 2rem;         
    color: hwb(0 11% 25%); 
    font-weight: bold;    
    text-align: center;   
    margin-top: 20px;         
    text-transform: uppercase; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;            
    border-bottom: 3px solid #007bff; 
}

.search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.search-form label {
    font-weight: bold;
    color: #555;
}

.search-form input, .search-form button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.search-form button {
    grid-column: span 2;
    background-color: #2f6299;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #3371b3;
}

.results {
    margin-top: 20px;
    lex-grow: 1;
    min-height: 200px; 
    max-height: 400px; 
    overflow-y: auto;
}

.result-header, .result-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #c5a99d;
    justify-items: center; 
    align-items: center;
    border-radius: 40px;
}

.result-header {
    background-color: #f0f0f0;
    font-weight: bold;
    color: hsl(290, 72%, 24%);
}

.result-row {
    background-color: #fafafa;
}

.result-row:nth-child(even) {
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .search-form {
        grid-template-columns: 1fr;
    }

    .result-header, .result-row {
        grid-template-columns: 1fr 1fr;
    }
}

